.bg-waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #43cea2, #185a9d);
  opacity: 0.1;
  animation: wave 15s linear infinite;
}

.wave:nth-child(1) {
  animation-delay: 0s;
}

.wave:nth-child(2) {
  animation-delay: 5s;
}

.wave:nth-child(3) {
  animation-delay: 10s;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
